.back-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #e68a00;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
}

.back-btn:hover {
  background-color: #cc7a00;
}