/* src/components/Hero.css */

.hero {
  background-image: url('https://images.unsplash.com/photo-1668616796315-d9adbd1b26ec?q=80&w=653&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  color: white;
  padding: 100px 20px;
  text-align: center;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 24px;
  margin-bottom: 20px;
}

.hero a {
  background-color: #ff9900;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.hero a:hover {
  background-color: #e68a00;
}
